EXTRA_DIRS=+rasppi:+$MKQNXIMAGE_EXTRAS/cti:+qnx
OPT_TYPE=rasppi
OPT_REPOS='$BOOT:$BOOT/boot:$SYSTEM:$BSP/prebuilt:$BSP/install:$ASSETS/fonts/build/stage:$ASSETS:$SRC/nto/$QNX_ARCHDIR:$SRC/nto:$QNX_TARGET'
OPT_PART_SIZES='70:3072:32000'
OPT_USB=no
OPT_PYTHON=yes
OPT_GRAPHICS=no
OPT_SYS_INODES=100000
OPT_DATA_INODES=1000000
OPT_TIME_SERVERS=0.pool.ntp.org:1.pool.ntp.org
OPT_ROOT=no
OPT_SECURE_PROCFS=no
OPT_SSH_IDENT=$BUILD/root_authorized_keys
OPT_COPY_DEST=$BUILD/rpi4.img
OPT_HOSTNAME=qnxpi
